<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617142674451-asq0p2gccufs5ikukrj6scicrd83bedk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617142674451-asq0p2gccufs5ikukrj6scicrd83bedk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>617142674451-e01ecj0ubf361d6d65r01lvdcurqben4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1bFLbDI7PvhLoGFUZKZz1zzxoHKBk678</string>
	<key>GCM_SENDER_ID</key>
	<string>617142674451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bluezone.A3lanate</string>
	<key>PROJECT_ID</key>
	<string>a3lanate-68ef2</string>
	<key>STORAGE_BUCKET</key>
	<string>a3lanate-68ef2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617142674451:ios:82a2e28e0c592e0c22cbe6</string>
	<key>DATABASE_URL</key>
	<string>https://a3lanate-68ef2.firebaseio.com</string>
</dict>
</plist>